<h1>Review form for Artist</h1>

<%= form_for [@artist, @review] do |f| %>
  <%=f.label :rating, "Rating" %>
  <%=f.text_field :rating %>

  <%=f.label :title, "Title of Review" %>
  <%=f.text_field :title %>

  <%=f.label :description, "Description" %>
  <%=f.text_field :description %>

  <%=f.submit "Add Review" %>
<% end %>

<form class="" action="/artists/:id/reviews" method="post">

</form>
